.sizeList {
    width:100%;
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    padding:0;
    font-size:.8rem;
}

/* .prodCards {
    opacity:1;
    
}

.prodCards:hover {
    transition:all .7s;
}  */